.wrapper {
  padding: 0;
  position: relative;
}

.selected {
  background-color: #b3d9ff;
}

.toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font: inherit;
  color: inherit;
  vertical-align: middle;
}

.toggle * {
  vertical-align: middle;
}

.toggle:hover {
  color: rgba(10, 84, 171, 1);
}

.toggle:hover .toggleText {
  text-decoration: underline;
}

.toggleText {
  display: inline-flex;
  align-items: center;
}

.globe {
  width: 20px;
  margin-right: 0.4em;
}

.arrow {
  display: inline-block;
  font-size: 0.6em;
  margin-left: 0.4em;
}

.dropdown {
  display: none;
  position: absolute;
  top: 2rem;
  right: 0;
  overflow-y: scroll;
  background-color: #fff;
  padding: 1rem;
  list-style: none;
  width: max-content;
  overflow: initial;
  filter: drop-shadow(0 0.3rem 0.65rem rgba(0, 0, 0, 0.2));
}

.dropdown.open {
  display: block;
}

.dropdown::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 20px 15px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -10px;
  right: 1rem;
}

.item {
  line-height: 1.6;
}

.dropdown a:hover {
  color: rgba(10, 84, 171, 1);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .wrapper {
    position: fixed;
    bottom: 1.75rem;
    right: 1.75rem;
  }

  .dropdown {
    bottom: 3rem;
    top: auto;
  }

  .dropdown::before {
    top: auto;
    bottom: -10px;
    transform: rotate(180deg);
  }

  .arrow {
    transform: rotate(180deg);
  }
}
