@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #79ff97;
  --color-secondary: #cec2ff;
  --color-tertiary: #ffb39a;
  --color-quaternary: #89d5ff;
  --color-light: #ffffff;
  --color-gray: #eeeeee;
  --color-dark: #000000;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
