@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #79ff97;
  --color-secondary: #cec2ff;
  --color-tertiary: #ffb39a;
  --color-quaternary: #89d5ff;
  --color-light: #ffffff;
  --color-gray: #eeeeee;
  --color-dark: #000000;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/**
 * Typography
 */

h1,
.type-heading-1 {
  @apply font-semibold text-6xl tracking-tight leading-tight;
}

h2,
.type-heading-2 {
  @apply font-semibold text-5xl tracking-tight leading-tight;
}

h3,
.type-heading-3 {
  @apply font-semibold text-3xl tracking-tight leading-tight;
}

h4,
.type-heading-4 {
  @apply font-semibold text-xl tracking-tight leading-tight;
}

h5,
.type-heading-5 {
  @apply font-semibold text-lg tracking-normal;
}

p {
  @apply text-base tracking-normal;
}

/**
 * Container
 */
.container {
  @apply ml-auto mr-auto w-full pl-4 pr-4;
}

.container--sm {
  @apply max-w-3xl;
}

.container--md {
  @apply max-w-4xl;
}

.container--lg {
  @apply max-w-5xl;
}

.container--xl {
  @apply max-w-7xl;
}

/**
 * Section
 */
.section {
  @apply py-4 lg:py-8 overflow-hidden;
}

.section--lg {
  @apply py-6 lg:py-12;
}

.section--xl {
  @apply py-10 lg:py-20;
}

/**
 * Buttons
 */
.btn {
  @apply inline-flex font-medium uppercase py-3 px-4 max-w-max rounded-md cursor-pointer;
}

.btn-primary {
  @apply bg-black text-white border-2 border-black hover:bg-transparent hover:text-black;
}

/**
* Reach UI Tabs
*/
[data-reach-tabs] {
  @apply gap-12 lg:gap-16 xl:gap-24;
}

[data-reach-tab] {
  @apply py-6 lg:py-8 pr-0 #{!important};
}

[data-reach-tab]:not([data-selected]) {
  @apply text-black/10 #{!important};
}

[data-reach-tab]:last-of-type {
  @apply border-transparent #{!important};
}

[data-reach-tab]:not(:last-of-type) {
  @apply border-b border-black border-opacity-10 #{!important};
}

[data-reach-tab-list] {
  @apply hidden lg:flex min-w-[200px] bg-transparent #{!important};
}

/**
* Reach UI Menu
*/
[data-reach-menu-popover] {
  @apply w-[240px] -mt-[1px];
}

[data-reach-menu-button] {
  @apply border border-slate-400 p-3 rounded-sm bg-white w-[240px] mx-auto inline-flex gap-2 items-center justify-center;
}

[data-reach-menu-items] {
  @apply text-black;
}

[data-reach-menu-item] {
  @apply hover:bg-slate-200;
}

/**
 * Event Tab
 */
.event-tab-date {
  @apply type-heading-3;
}

.event-talk-time {
  @apply min-w-fit;
}
.event-talk-name {
  @apply type-heading-4;
}

/**
 * Event Talk
 */
.event-talk {
  @apply flex gap-4 py-6 lg:py-8 border-b border-black border-opacity-10;
}

.event-talk-inner {
  @apply flex flex-col gap-6;
}

.event-talk-invite-only {
  @apply text-black text-opacity-50;
}

/**
 * Event Info
 */
.event-info {
  @apply flex flex-col lg:flex-row lg:justify-between gap-6;
}

.event-info-col {
  @apply flex flex-col gap-2 lg:basis-3/6;
}

.event-info-col:first-of-type {
  @apply items-end lg:items-start;
}

.event-info-heading {
  @apply text-tertiary font-bold text-2xl flex flex-col;
}

/**
 * Event Location
 */
.event-location {
  @apply flex flex-col lg:flex-row lg:justify-between gap-12 lg:gap-24;
}

.event-location-col {
  @apply flex flex-col gap-8 lg:basis-3/6 lg:gap-12;
}

.event-location-direction {
  @apply space-y-4;
}

.marquee {
  @apply block;
}

.marquee-wrap {
  @apply overflow-hidden;
}

.marquee-row {
  @apply flex relative text-center whitespace-nowrap;
}

.marquee-item {
  @apply flex items-center relative will-change-transform;
}

.marquee-item-text {
  @apply relative inline-block px-8 lg:px-16 z-[1];
}

.marquee {
  &-item {
    &-text {
      font-size: clamp(92px, calc(1.5rem + ((1vw - 7.68px) * 1.0417)), 1.875vw);
    }
  }
}

.language-selector {
  @apply flex flex-col gap-2;
}

.language-selector [data-reach-menu-button] {
  @apply w-auto justify-start;
}
.language-selector [data-reach-menu-popover] {
  @apply w-auto justify-start;
}
